// VARIABLES 

$font: 'Source Sans Pro', sans-serif;
$heading: 700;
$paragraph: 400;
$danger: #a70000;
$success: #666666;
$default: #499cb5;

$bgSidebar: #333;
$bgNav: #1c7ed6;
$bgody: #555;

$lightText: #fff;
$darkText: #000;

$marginSmall: 10px;